<section class="externalLinks container-fluid mt-5 pb-5">
  <div class="row">
    <div class="col-12">
      <h3 class="text-secondary mt-2 mb-4">Testa andra versioner av spelet</h3>
    </div>
    <div class="external-link-title d-block d-md-none bg-secondary text-light">
      Casual Arena 
    </div>
    <div class="col-md-4 px-0 pb-4 pb-md-0">
      <a class="external-link-box" href="https://www.casualarena.com/connect-4" target="_blank">
        <img class="border border-secondary img-fluid" src="/images/external-link-1.jpg">
        <div class="external-link-caption">
          <div>Casual Arena</div>
        </div>
      </a>
    </div>
    <div class="external-link-title d-block d-md-none bg-secondary text-light">
      Connect-4
    </div>
    <div class="col-md-4 px-0 pb-4 pb-md-0">
      <a class="external-link-box" href="https://www.silvergames.com/en/connect-4" target="_blank">
        <img class="border border-secondary img-fluid" src="/images/external-link-2.jpg">
        <div class="external-link-caption">
          <div>Connect-4</div>
        </div>
      </a>
    </div>
    <div class="external-link-title d-block d-md-none bg-secondary text-light">
      Hasbro's Connect
    </div>
    <div class="col-md-4 px-0 pb-4 pb-md-0">
      <a class="external-link-box" href="https://www.mathsisfun.com/games/connect4.html" target="_blank">
        <img class="border border-secondary img-fluid" src="/images/external-link-3.jpg">
        <div class="external-link-caption">
          <div>Hasbro's Connect</div>
        </div>
      </a>
    </div>
  </div>
</section>