<section class="externalLinks container-fluid mt-5 pb-5">
  <div class="row">

    <div class="col-sm-4 px-0">
      <a class="external-link-box" href="https://www.casualarena.com/connect-4" target="_blank">
        <img class="img-fluid" src="/images/external-link-1.jpg">
        <div class="external-link-caption">
          <div>Casual Arena</div>
        </div>
      </a>
    </div>
    <div class="col-sm-4 px-0">
      <a class="external-link-box" href="https://www.silvergames.com/en/connect-4" target="_blank">
        <img class="img-fluid" src="/images/external-link-2.jpg">
        <div class="external-link-caption">
          <div>Connect-4</div>
        </div>
      </a>
    </div>
    <div class="col-sm-4 px-0">
      <a class="external-link-box" href="https://www.mathsisfun.com/games/connect4.html" target="_blank">
        <img class="img-fluid" src="/images/external-link-3.jpg">
        <div class="external-link-caption">
          <div>Hasbro's Connect</div>
        </div>
      </a>
    </div>
  </div>
</section>