<div class="modal" id="modal" tabindex="-1" role="dialog"> 
    <div class="modal-dialog" role="document"> 
      <div class=" modal-content"> 
        <div class="modal-header"> 
          <h5 class="modal-title">Grattis!</h5> 
          <button type="button" class="close pos-ab" data-dismiss="modal" aria-label="Close"> 
            <span aria-hidden="true">&times;</span> 
          </button> 
        </div> 
        <div class="modal-body"> 
          <p>${this.page.gameBoard.currentPlayer.name} har vunnit!</p> 
        </div> 
        <div class="modal-footer"> 
          <button type="button" class="btn btn-primary" data-dismiss="modal">Highscore</button> 
          <button type="button" class="btn btn-secondary restartButton" data-dismiss="modal">stäng</button> 
        </div> 
      </div> 
    </div> 
  </div> 