<section>
  <div class="container">
    <div class="nameInput">
      <div class="row justify-content-center">
        <div class="col-sm-7">
          <div class="input-group mb-5">
            <input type="text" maxlength="8" class="form-control" id="nameFirstPlayer" placeholder="Mata in namn">
            <select class="form-control border border-primary" id="typeFirstPlayer">
              <option value="fake">Välj typ</option>
              <option value="human">Human</option>
              <option value="bot">Bot</option>
            </select>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="input-group mb-5">
            <input type="text" maxlength="8" class="form-control" id="nameSecondPlayer" placeholder="Mata in namn">
            <select class="form-control border border-primary" id="typeSecondPlayer">
              <option value="fake">Välj typ</option>
              <option value="human">👤</option>
              <option value="bot">🤖</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>