<section>
        <div class="container">
            <div class="nameInput">
                <div class="row justify-content-center">
                    <div class="col-7">
                        <div class="input-group mb-5">
                            <input type="text" class="form-control" id="nameFirstPlayer" placeholder="Namn">
                            <select class="form-control border border-primary" id="typeFirstPlayer">
                                    <option value="0" selected>Typ</option>
                                    <option value="human">Human</option>
                                    <option value="bot">Bot</option>
                                </select>
                        </div>
                    </div>
                    <div class="col-7">
                            <div class="input-group mb-5">
                                <input type="text" class="form-control" id="nameSecondPlayer" placeholder="Namn">
                                <select class="form-control border border-primary" id="typeSecondPlayer">
                                        <option value="0" selected>Typ</option>
                                        <option value="human">Human</option>
                                        <option value="bot">Bot</option>
                                    </select>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>