<div class="col-6">
    <ul class="players-list">
        <li class="d-inline-block ${this.players[0].color} ${this.players[0].currentPlayer ? `current` : ''}" >
            <span class="d-inline-block">${this.players[0].name}</span><span class="d-inline-block player-color"></span>
        </li>
        <li class="d-inline-block ${this.players[1].color} ${this.players[1].currentPlayer ? `current` : ''}" >
            <span class="d-inline-block">${this.players[1].name}</span><span class="d-inline-block player-color"></span>
        </li>
    </ul>
</div>