<section class="container gamerules mt-5 mb-md-5 p-5">
  <section class="row">
    <article class="rulesText col-md-8 text-left text-secondary">
      <h3 class="mb-4">Hur gör man?</h3>
      <p class="mb-4">Fyra i rad är ett klassiskt sällskapsspel för två personer som påminner om luffarschack. I de flesta
        online-versioner, vårt inkluderat, av spelet går det även att spela mot en dator. </p>

      <p class="mb-5">Spelarna turas om att lägga varsin bricka och spelet håller på fram tills att en spelare har lyckats
        lägga fyra brickor i rad. De kan ligga horisontellt, vertikalt eller diagonalt. När en spelare har
        lyckats med detta har denna vunnit. Eftersom brickor hela tiden tillförs, samtidigt som ytan är
        begränsad kan spelet ibland sluta oavgjort när det inte längre finns plats för fler brickor.
      </p>

      <h3 class="mb-4">Mästarnas mästare</h3>
      <p class="mb-2">Det har demonstrerats att i en match av Fyra i rad, så kan den som lägger först, om han använder rätt
        strategi, vinna, hur än motståndaren lägger sina brickor. Se om du kan lista ut hur?</p>
    </article>
    <section class="col-md-4 mt-5">
      <img class="img-fluid" src="/images/4-in-a-row.gif" alt="a gif showing a player winning in 4-in-a-row">
    </section>
  </section>
</section>