<div>
  <h2>Start</h2>
  <p>This is the start page.</p>

  <section class="ExternalLinks">
    <div class="container mt-5 mb-4">
      <div class="row mr-2 ml-2">
        <div class="col-lg-8 col-sm-12 mb-4">
          <div class="card">
            <img class="card-img-top" src="/images/external-link-1.PNG" alt="Card image cap hidden-xs" data-toggle="modal" data-target="#cardsModal">
            <div class="card-body">
              <h5 class="card-title">Sparkanoid</h5>
              <a href="https://www.casualarena.com/connect-4" target="_blank" class="btn btn-primary"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12 mb-4">
          <div class="card">
            <img class="card-img-top" src="/images/external-link-2.PNG" alt="Card image cap" data-toggle="modal" data-target="#cardsModal">
            <div class="card-body">
              <h5 class="card-title">Atari Breakout</h5>
              <a href="https://www.silvergames.com/en/connect-4" target="_blank" class="btn btn-primary"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12 mb-4">
          <div class="card">
            <img class="card-img-top" src="/images/external-link-3.PNG" alt="Card image cap" data-toggle="modal" data-target="#cardsModal">
            <div class="card-body">
              <h5 class="card-title">Breakout 5</h5>
              <a href="https://www.mathsisfun.com/games/connect4.html" target="_blank" class="btn btn-primary"></a>
            </div>
          </div>
        </div>
    </div>
  </section>

</div>