<div>
  <h2>Start</h2>
  <p>This is the start page.</p>

  <section class="ExternalLinks">
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        
          <div class="card">
            <img class="card-img-left" src="/images/external-link-1.JPG" alt="casual arena" data-toggle="modal" data-target="#cardsModal">
            <div class="card-body">
              <h5 class="card-title">Casual Arena</h5>
              <a href="https://www.casualarena.com/connect-4" target="_blank" class="btn btn-primary"></a>
            </div>
          </div>
        
          <div class="card">
            <img class="card-img-center" src="/images/external-link-2.JPG" alt="connect-4 silvergames" data-toggle="modal" data-target="#cardsModal">
            <div class="card-body">
              <h5 class="card-title">Connect-4</h5>
              <a href="https://www.silvergames.com/en/connect-4" target="_blank" class="btn btn-primary"></a>
            </div>
          </div>
        
          <div class="card">
            <img class="card-img-right" src="/images/external-link-3.JPG" alt="Hasbro connect4" data-toggle="modal" data-target="#cardsModal">
            <div class="card-body">
              <h5 class="card-title">Hasbro's Connect 4</h5>
              <a href="https://www.mathsisfun.com/games/connect4.html" target="_blank" class="btn btn-primary"></a>
            </div>
          </div>
        
    </div>
  </div>
  </section>

</div>