body {
  &>div:first-child {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    main {
      flex: 1;
    }
  }
}

.slot {
  display: inline-block;
  color: red;
  border: 1px solid white;
}