body {
  background-image: url('/images/wallpaper.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  &>div:first-child {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    main {
      flex: 1;
    }
  }
}