.game-board{
    background-color: rgb(111, 0, 255);
    display: inline-block;
    border: 10px;
  }

.column {
  width: calc(100%/7);
  cursor: pointer;
}
  .slots {
    background-color: rgb(247, 244, 244);
    // pointer-events: none;
    &.red {
      & > div {
        & > div {
          background-color: red;
        }
      }
    }
    &.yellow {
      & > div {
        & > div {
          background-color: yellow;
        }
      }
    }
    & > div {
      padding-top: 100%;
      position:relative;
      background-color: blue;
      pointer-events: none;
      & > div {
        position:absolute;
        top:10%;
        left: 10%;
        width: 80%;
        height: 80%;
        border-radius: 50%;
        background-color: white;
        pointer-events: none;
      }
    }
  }
  .action {
    cursor:pointer;
  }
   
  .disabled {
    opacity: 0.2;
    cursor: default;
  }

.players-list {
  padding-left: 0;
  text-align: left;
  li {
    padding: 7px;
    border: 1px solid $gray-400;
    border-radius: $border-radius;
    &.red {
      &.current {
        border-color: #ff0000;
        box-shadow: 0 0 0 3px transparentize(#ff0000, .75);
      }
      .player-color {
        background-color: #ff0000;
      }
    }
    &.yellow {
      &.current {
        border-color: gold;
        box-shadow: 0 0 0 3px transparentize(gold, .75);
      }
      .player-color {
        background-color: gold;
      }
    }
  }
  span {
    vertical-align: middle;
    margin: 0 20px;
  }
}  
.player-color {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}