
body {
    text-align: center;
}





.game-board{
    background-color: rgb(111, 0, 255);
    display: inline-block;
    border: 10px;
  }


  .slots {
    // To make squares
   // width: calc(100% / 7);
  //  padding-top: calc(100% / 7);
    background-color: rgb(247, 244, 244);
   // border: 1px solid   rgb(111, 0, 255);  
   // border-radius: 50%;

  }

  body > div  {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
   
  main {
    flex: 1;
  }
   
  .action {
    cursor:pointer;
  }
   
  .disabled {
    opacity: 0.2;
    cursor: default;
  }
   
  .slots {
    width: 14.28%;
  }
   
  .slots > div {
    padding-top: 100%;
    position:relative;
    background-color: blue;
  }
   
  .slots > div > div {
    position:absolute;
    top:10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: white;
  }
   
  .slots.red  > div > div {
    background-color: red;
  }
   
  .slots.yellow  > div > div {
    background-color: yellow;
  }