.game-board{
    display: inline-block;
    border: 10px;
    
  }

.column-wrap {
  width: calc(100%/7);
 
}  
.column {
  cursor: pointer;
  
}
  .slots {
    background-color: rgba(125,121,125,1);
    pointer-events: none;
    
    &.red {
      & > div {
        & > div {
          background-color: #8D4343;
        }
      }
    }
    &.yellow {
      & > div {
        & > div {
          background-color: #D9D963;
        }
      }
    }
    & > div {
      padding-top: 100%;
      position:relative;
      background-color: #438D8D;
      pointer-events: none;
      & > div {
        position:absolute;
        top:10%;
        left: 10%;
        width: 80%;
        height: 80%;
        border-radius: 50%;
        background-color: white;
        pointer-events: none;
      }
    }
  }
  .action {
    cursor:pointer;
  }
   
  .disabled {
    opacity: 0.2;
    cursor: default;
  }

.players-list {
  padding-left: 0;
  text-align: left;
  li {
    padding: 7px;
    border-radius: $border-radius;
    background-color: blue;
  -webkit-box-shadow: 0px 0px 20px 8px rgba(185, 180, 185,1);
  -moz-box-shadow: 0px 0px 20px 8px rgba(185, 180, 185,1);
   box-shadow: 0px 0px 20px 8px rgba(185, 180, 185,1);
    &.red {
      &.current {
       
        box-shadow: 0 0 0 3px transparentize(#ff0000, .75);
        -webkit-box-shadow: 0px 0px 20px 8px rgb(250, 18, 18);
  -moz-box-shadow: 0px 0px 20px 8px rgb(250, 18, 18);
   box-shadow: 0px 0px 20px 8px rgba(250, 18, 18,1);
      }
     
    }
    &.yellow {
      &.current {
        box-shadow: 0 0 0 3px transparentize(gold, .75);
        -webkit-box-shadow: 0px 0px 20px 8px rgb(234, 250, 18);
        -moz-box-shadow: 0px 0px 20px 8px rgb(234, 250, 18);
         box-shadow: 0px 0px 20px 8px rgba(234, 250, 18,1);
      }
      
    }
  }
  span {
    vertical-align: middle;
    margin: 0 20px;
  }
}  


.gameGrid {
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 34px 13px rgba(125,121,125,1);
  -moz-box-shadow: 0px 0px 34px 13px rgba(125,121,125,1);
   box-shadow: 0px 0px 34px 13px rgba(125,121,125,1);
}

.playerButton {
  position: relative;
  display: inline-block;
  text-align: center;
}

.gameslots {
  -webkit-box-shadow: inset 0px 0px 36px 0px rgba(8,36,84,1);
  -moz-box-shadow: inset 0px 0px 36px 0px rgba(8,36,84,1);
  box-shadow: inset 0px 0px 36px 0px rgba(8,36,84,1);
}

.abortGameButton {
  background-color: blue;
  -webkit-box-shadow: 0px 0px 20px 8px rgb(185, 180, 185);
  -moz-box-shadow: 0px 0px 20px 8px rgba(185, 180, 185,1);
   box-shadow: 0px 0px 20px 8px rgba(185, 180, 185,1);
   text-emphasis-color: white;
}
.playerButtonTextColor {
  color: white;
}