.startGameButton {
  @include shadow-btn();
  @include vibrate-1(.9s);
}

.players-list {
  padding-left: 0;
  float: left;

  @include media-breakpoint-down(sm) {
    float: none;
  }

  li {
    min-width: 150px;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: $border-radius;
    border: 1px solid transparent;
    text-align: center;
    background-color: #438D8D;

    @include media-breakpoint-down(sm) {
      min-width: initial;
      width: 100%;
      font-size: .9rem;

      &:first-child {
        margin-bottom: 5px;
      }
    }

    &.red {
      &.current {
        background-color: rgb(226, 67, 67);
        @include shadow-btn();
        @include jello(.9s);
      }
    }

    &.yellow {
      &.current {
        background-color: rgb(240, 240, 83);
        @include shadow-btn();
        @include jello(.9s);
      }
    }
  }
}

.playerButtons {
  position: relative;
  display: inline-block;
  text-align: center;

  button {
    @include shadow-btn();
    text-emphasis-color: white;

    @include media-breakpoint-up(md) {
      margin-left: 7px;
      float: right;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      font-size: .9rem;

      &:first-child {
        margin-bottom: 5px;
      }
    }
  }
}

.game-holder {
  -webkit-box-shadow: inset -1px 9px 56px 19px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: inset -1px 9px 56px 19px rgba(0, 0, 0, 0.34);
  box-shadow: inset -1px 9px 56px 19px rgba(0, 0, 0, 0.34);
  border-radius: 5px;
  background-color: rgba(247, 248, 248, 0.4);

}

.gameGrid {
  margin-top: 50px;
  margin-bottom: 80px;
 @include shadow-Grid();

}

.column-wrap {
  width: calc(100%/7);
}

.column {
  cursor: pointer;
}

.hole,
.emptyHole {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: white;
  pointer-events: none;
  @include shadow-slot();
}

.hole {
  z-index: 200;
}

.emptyHole {
  z-index: 180;
}

.gameslots {
  padding-top: 100%;
  position: relative;

  &.dropped {
    .hole {
      @include slot-move(0.7s);
    }
  }
}

.slots {
  pointer-events: none;

  &.red {
    .hole {
      background-color: rgb(226, 67, 67);
    }
  }

  &.yellow {
    .hole {
      background-color: rgb(240, 240, 83);
    }
  }
}

.action {
  cursor: pointer;
}

.disabled {
  opacity: 0.2;
  cursor: default;
}
