.startGameButton {
    display: block;
    text-align: center;
    margin-top: 40px;
    
}
.nameInput {
    display: inline-flex;
    text-align: center;
    margin-top: 50px;
    margin-inline-start: 10px;
}