.gamerules {
  -webkit-box-shadow: inset -1px 9px 56px 19px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: inset -1px 9px 56px 19px rgba(0, 0, 0, 0.34);
  box-shadow: inset -1px 9px 56px 19px rgba(0, 0, 0, 0.34);
  border-radius: 5px;
  background-color: rgba(247, 248, 248, 0.4);
};

.rulesText {
  color: black;
  font-size: 18px;
}