._button {
  background-color: blue;
  color: white;
  font-size: 20px;
  padding: 0.8rem 1.5rem;
  border: blue;
  border-radius: 6%;
  cursor: pointer;
}

._button:hover {
  transition: 1.5s;
  background-color: rgb(46, 127, 248);
}

.main-content {
  -webkit-box-shadow: inset -1px 9px 56px 19px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: inset -1px 9px 56px 19px rgba(0, 0, 0, 0.34);
  box-shadow: inset -1px 9px 56px 19px rgba(0, 0, 0, 0.34);
  border-radius: 5px;
  background-color: rgba(247, 248, 248, 0.4);
}

.external-link-caption {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: .2s ease;
  background-color: #438D8D;
  opacity: 0;
  display: flex;
  align-items: center;
}

.external-link-caption>div {
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}

.external-link-box:hover .external-link-caption {
  opacity: .9;
}

.external-link-title {
  width: 100%;
}

.play-button {
  width: 150px;
}

.welcomeText {
  font-size: 20px;
  color: black;
}

.play-button {
  -webkit-box-shadow: -10px 10px 16px 0px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -10px 10px 16px 0px rgba(0, 0, 0, 0.72);
  box-shadow: -10px 10px 16px 0px rgba(0, 0, 0, 0.72);
  -webkit-animation: vibrate-1 0.9s linear infinite both;
  animation: vibrate-1 0.9s linear infinite both;

  @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }

    20% {
      -webkit-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }

    40% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }

    60% {
      -webkit-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }

    80% {
      -webkit-transform: translate(2px, -2px);
      transform: translate(2px, -2px);
    }

    100% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }

  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }

    20% {
      -webkit-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }

    40% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }

    60% {
      -webkit-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }

    80% {
      -webkit-transform: translate(2px, -2px);
      transform: translate(2px, -2px);
    }

    100% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }
}

.welcome_pic {
  border-radius: 15px;
}