.test{
    padding: 2rem;
    text-align: center;
}

.welcome_pic{
    width: 300px;
    height: 300px;
}

._button{
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 0.8rem 1.5rem;
    border: blue;
    border-radius: 6%;
    cursor: pointer;
}

._button:hover{
    transition: 1.5s;
    background-color: rgb(46, 127, 248);
}

h1 {
  font-family: 'Gamja Flower';
  font-weight: bold;
  font-size: 8rem;
}

.eye-catcher {
  text-shadow: 3px 3px 15px rgba(0,0,0,0.75);
}