.modal-title{
    width: 100%!important;
}

.pos-ab{
    position: absolute;
    right: 15px;
}

#modal {
    a {
        display: block;
        height: 100%;
        width: 100%;
        color: $white;
        text-decoration: none;
    }
}